{
  "ModerateFunction": {
    "ENVIRONMENT": "YOUR_ENVIRONMENT",
    "OPENAI_API_KEY": "YOUR_OPENAI_API_KEY",
    "DEFAULT_OPEN_AI_MODEL": "gpt-4o-mini",
    "DEFAULT_TEMPERATURE": 0,
    "DEFAULT_MAX_TOKENS": 1000,
    "TAVILY_API_KEY": "GET_YOUR_TAVILY_API_KEY",
    "SLACK_USER_TOKEN":"GET_YOUR_SLACK_USER_TOKEN",
    "SLACK_USER_DISPLAY_NAME": "YOUR_SLACK_USER_DISPLAY_NAME",
    "SLACK_MEMBER_ID": "YOUR_SLACK_MEMBER_ID",
    "GOOGLE_CREDENTIALS_PATH": "core/credentials.json",
    "GOOGLE_DELEGATED_USER": "your_gmail_account@gmail.com",
    "LOG_LEVEL": "INFO",
    "PINECONE_API_KEY": "YOUR_PINECONE_API_KEY",
    "BASE_PINECONE_INDEX_NAME": "YOUR_PINECONE_INDEX_NAME",
    "DEFAULT_OPENAI_EMBEDDING_MODEL": "YOUR_OPENAI_EMBEDDING_MODEL",
    "DYNAMODB_REGION_NAME": "YOUR_DYNAMODB_REGION_NAME",
    "TAGS_TABLE": "summaries_tags",
    "SUMMARIES_TABLE": "summaries",
    "LANGCHAIN_API_KEY": "YOUR_LANGCHAIN_API_KEY_TO_TRACE_WITH_LANGSMITH",
    "LANGCHAIN_TRACING_V2": true,
    "LANGCHAIN_ENDPOINT": "https://api.smith.langchain.com",
    "LANGCHAIN_PROJECT": "YOUR_LANGCHAIN_PROJECT_NAME"  
  }
}
