{
  "ModerateFunction": {
    "OPENAI_API_KEY": "YOUR_OPENAI_API_KEY",
    "DEFAULT_OPEN_AI_MODEL": "gpt-4o-mini",
    "DEFAULT_TEMPERATURE": 0,
    "DEFAULT_MAX_TOKENS": 1000,
    "TAVILY_API_KEY": "GET_YOUR_TAVILY_API_KEY",
    "SLACK_USER_TOKEN":"GET_YOUR_SLACK_USER_TOKEN",
    "SLACK_USER_DISPLAY_NAME": "YOUR_SLACK_USER_DISPLAY_NAME",
    "SLACK_MEMBER_ID": "YOUR_SLACK_MEMBER_ID",
    "GOOGLE_CREDENTIALS_PATH": "core/credentials.json",
    "GOOGLE_DELEGATED_USER": "your_gmail_account@gmail.com",
    "LOG_LEVEL": "INFO",
    "PINECONE_API_KEY": "YOUR_PINECONE_API_KEY",
    "BASE_PINECONE_INDEX_NAME": "YOUR_PINECONE_INDEX_NAME",
    "DEFAULT_OPENAI_EMBEDDING_MODEL": "YOUR_OPENAI_EMBEDDING_MODEL"
  }
}
