{
    "ModerateFunction": {
      "OPENAI_API_KEY": "",
      "DEFAULT_OPEN_AI_MODEL": "gpt-4o-mini",
      "DEFAULT_TEMPERATURE": 0,
      "DEFAULT_MAX_TOKENS": 1000,
      "TAVILY_API_KEY": "",
      "SLACK_USER_TOKEN": "",
      "GOOGLE_CREDENTIALS_PATH": "core/credentials.json",
      "GOOGLE_DELEGATED_USER": ""
    }
}
